@font-face {
    font-family: 'Dejavu';
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Devanagari";
    src: url("../fonts/Adobe-Devanagari.eot");
    src: url("../fonts/Adobe-Devanagari.woff") format("woff"),
    	 url("../fonts/Adobe-Devanagari.ttf") format("ttf");
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Devanagari, Arial;
	font-size: 18px;
}
button{
	font-family: dejavu, Arial;
}
section{
	min-height: 100vh;
}
.part1{
	background-image: url(../img/about_part1.JPG);
    background-position-x: -300px;
}
.part4{
	background-image: url('../img/about_part4.JPG');
	background-size: cover;
}
.part1 .content{
	width: 500px;
    position: absolute;
    right: 70px;
    top: 100px;
    font-size: 22px;
}
/*SVG ANIMATION START*/
@keyframes draw {
	from{stroke-dashoffset: 0;}
	to{stroke-dashoffset: 635;}
}
path {
    stroke-dasharray: 635;
    animation: draw 2.5s reverse;
    fill: none;
    stroke: #000;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.part1 small{
	font-size: 26px;
}
.part1 .content small{
	padding-left: 50px;
}
.part1 .content p{
	padding-left: 50px;
	margin-top: 25px;
}

.part2, .part3{
	padding: 60px 0;
}
.part2 h2, .part3 h2{
    font-size: 32px;
	font-family: verdana;
    font-style: italic;
    font-weight: normal;
    margin: 50px 0;
}
.part2 .content{
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}
.part2 .img-bg,
.part3 .img-bg {
	height: 500px;
	position: relative;
}
.part2 .img-bg .img,
.part3 .img-bg .img{
	min-width: 90%;
	min-height: 500px;
	position: absolute;
	background-image: url('../img/about_part2.JPG');
	background-size: cover;
}
.bord-box{
	max-width: 500px;
	padding: 50px 40px;
	position: absolute;
	right: 0;
	top: 50%;	
    transform: translateY(-50%);
	background-color: white;
    line-height: 1.5em;
    font-size: 18px;
}
.part3{
	padding: 10vh 0;
}
.part3 .img-bg .img{
	position: absolute;
	right: 0;
	background-image: url('../img/about_part3.JPG');
}
.part3 .bord-box{
	left: 0;
}
.part3 .bord-box h2{
	text-align: center;
	font-size: 26px;
	margin-bottom: 0;
}
.part4{
	position: relative;
	background-image: url('../img/about_part4.png');
	background-size: cover;
	padding: 50px 0;
}
.part4 .bord-box{
	position: static;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
    transform: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.part4 .flower{  
	position: absolute;
	left: calc(50% + 150px);
	bottom: 0;
}
.part4 .flower,
.part4 .flower img{
	max-width: 200px;
}
.part4 .btn{
	border: 0;
}
.part4 .btn a{
	color: white;
	text-decoration: none;
}
.part4 button{
	background-color: #F8BBD0;
	padding: 20px 50px;
	margin: 50px auto 0 auto;
}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(248,187,208, 0);}}
.pulse-btn {
	box-shadow: 0 0 0 0 rgba(248,187,208, 1);
	animation: pulse 1.25s infinite;
	margin: 50px 0;
}
.part1{
	background-image: url(../img/about_part1.JPG);
    background-position-x: -300px;
}
/* responsive */
@media screen and (max-width: 1280px){
	.part1{
    	background-position-x: -550px;
	}
	.part1 .content{
		right: 40px;
	}
}
@media screen and (max-width: 1024px){
	.part1{
		display: flex;
		justify-content: center;
		align-items: center;    
		background-size: 1555px;
    	background-position-x: -550px;
	}
	.part1 .content{
	    background-color: rgba(255,255,255,0.8);
	    padding: 40px 20px;
	    text-align: center;
	}
	.part1 .content small,
	.part1 .content p{
		padding-left: 0;
	}
	.part2 .img-bg .img, .part3 .img-bg .img {
		min-width: 100%;
		background-size: 1500px;
    	background-position-x: -500px;
	}
	.bord-box, .part3 .bord-box{
		padding: 30px;
		min-width: 400px;
		left: 65%;
		transform: translate(-40%, -50%);
	    background-color: rgba(255,255,255,0.8);
	}
}
@media screen and (max-width: 768px){

	.flower{
		display: none;
	}
}
@media screen and (max-width: 640px){
	.bord-box {
	    width: 100%;
	    padding: 25px;
	}
	.part3 h2 {
		margin-top: 25px
	}
	.part4 .bord-box{
		justify-content: center;
	}
}