@font-face {
    font-family: 'Dejavu';
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Devanagari";
    src: url("../fonts/Adobe-Devanagari.eot");
    src: url("../fonts/Adobe-Devanagari.woff") format("woff"),
    	 url("../fonts/Adobe-Devanagari.ttf") format("ttf");
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Devanagari, Arial;
}
button a{
	font-family: Dejavu, Arial;
}
section{
	min-height: 100vh;
}
.top .top-panel, .about,
.about .mini-boxes, .content-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-background{
	background-image: url('../img/topBg.jpg');
	background-size: cover;
}
.top-background, .about-background{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.top .navbar-brand img{
	height: 70px;
}
.top .navbar-brand{
	padding: 0 20px;
}
.top .navbar-default{
	margin-top: 10px;
	background-color: rgba(0,0,0,0.6);
	align-items: center;
	padding: 0 20px;
    border: 0;
}
a{
	color: #F8BBD0;
	text-decoration: none;
	display: inline-block;
}
a:hover, a:focus {
	color: white;
}
.top .navbar-nav li a{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding: 25px 15px;
}
.top .navbar-nav li a:hover{
	color: black;
	background-color: rgb(245,245,245);
}
.top .navbar-nav .active a{
	background-color: initial;
}
.top .dropdown-menu{
	background-color: rgba(248, 187, 208, 0.6);
}
.top .dropdown-menu li a{
	padding: 15px;
	color: black;
}
.top h1{
	color: white;
	text-transform: uppercase;
	margin: 0;
}
.top .icons-bar{
	position: absolute;
    bottom: 50px;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	text-align: center;
	padding: 7px 0;
}

.top .icons-box img{
	width: 150px;
	display: inline-block;
}

.top .box{
	display: flex;
	width: 300px;
	min-height: 300px;
	background-color: #F8BBD0;
	position: absolute;
	right: 100px;
    bottom: 50px;
    padding: 40px;
    color: black;
    font-size: 32px;
}
.top .box .small{
	font-size: 22px;
}
.top .box .inner-text{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	border: 1px solid black;
    padding: 10px;
}

.top .arrow{
	color: #F8BBD0;
	text-align: center;
	font-size: 25px;   
	position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateY(-50%);
}
/* Arrow animation*/
@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow .fa {
  animation: bounce 2s ease infinite;
  font-size: 30px;
}

.macaroons{
	min-height: 840px;
	padding: 50px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/macaroonBg.jpg);
	background-size: cover;
}
.macaroons .fly{
	width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#macaroon1{
	right: 300px;
}
#macaroon2{
	right: 180px;
    top: 170px;
}
#macaroon3{
	width: 100px;
    right: 580px;
    top: 320px;
}
#macaroon4{
	width: 200px;
    top: 405px;
    right: 360px;
}
#macaroon5{
	width: 190px;
    top: 370px;
    right: 170px;
}
.macaroons img{
	width: 180px;
	transition: all 0.5s ease;
	position: absolute;
}
.macaroons .text{
	width: 250px;
	position: absolute;
    color: black;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}
.macaroons .text.first{
	top: 15vh;
    right: 50px;
}
.macaroons .text.second{
	top: 55vh;
    right: 0px;
}
.macaroons .text.third{
    top: 40vh;
    right: 600px;
}
.macaroons .text.fourth{
	top: 90vh;
	right: 600px;
}
.about-background{
    filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	background-image: url(../img/aboutBg.jpg);
    padding: 40px 30px;
    background-position-x: -300px;
    background-repeat: no-repeat;
}

/* Disable grayscale on hover */
.about-background.colored{
	filter: none;
	-webkit-filter: grayscale(0);
	transition: all 0.5s ease;
}
.about h2{
	font-family: Arial;
}
.btn{
    font-size: 25px;
    color: #F8BBD0;
    border: 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    bottom: 0;
}
.btn a{
	padding: 5px 10px;
}
.about .content,
.about .content-boxes{
	width: 50%;
	padding: 100px 40px 20px 40px;
	position: relative;
}
.about .content h2{
	color: white;
	margin-bottom: 50px;
}
.about .content-boxes{
    justify-content: flex-end;
}
.about .box{
    display: flex;
    align-items: center;
	width: 100%;
    height: 130px;
    margin: 10px 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding: 40px;
    color: white;
}
.about .mini-boxes{
	flex-wrap: wrap;
	text-align: center;
}
.about .mini-box{
	color: white;
	width: 30%;
	margin-bottom: 20px;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.about .mini-box img{
	width: 100px;
    transform: scale(0.85);
    transition: all .3s ease-in-out;
}
.about .mini-box:hover img{
	width: 100px;
    transform: scale(1);
}

@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(248,187,208, 0);}}
.pulse-btn {
	box-shadow: 0 0 0 0 rgba(248,187,208, 1);
	animation: pulse 1.25s infinite;
	margin: 50px 0;
}
.about .mobile-content{
	display: none;
}

/* RWD start*/
@media screen and (max-width: 1024px) {
	.about .content,
	.about .content-boxes{
		width: 50%;
	}
	.about .content{
		width: 40%
	}
	.about .content-boxes{
		width: 60%
	}
}
@media screen and (max-width: 960px) {
	.macaroons{
		padding: 50px 0;
	}
	.macaroons .fly{
		width: 100%;
	}
	.macaroons img {
		display: block;
		position: static;
		margin: 10px auto;
	}
	.macaroons .text{
		position: static;
		margin: 20px auto;
	}
	.about .content-boxes {
		align-items: flex-end; 
	}
	.about .content-boxes .box{
		display: none;
	}
	.about-background{
		background-position-y: -90px;
	}
	.about .content h2 {
		margin: 50px 0;
	}
	.about .btn{
		margin: 0;
	}
}
@media screen and (max-width: 768px) {
	.top .box{
		left: 50%;
		bottom: 70px;
		transform: translateX(-50%);
	}
	.top .navbar-default{
		background-color: black;
		margin: 0;
	}
	.top .navbar-default li{
		border-bottom: 1px solid #e7e7e7;
	}
	.top .navbar-default li:last-child{
		border-bottom: 0;
	}
	.top .navbar-nav li a{
		padding: 10px 15px;
		color: black;
	}
	.about{
		display: initial;
	}
	.about .slick-next{
		right: 10px;
	}
	.about .slick-prev{
		left: 10px;
	}
	.about .content, .about .content-boxes{
		display: none;
	}
	.about .mobile-content{
		display: block;
		padding: 200px 15vw;
	}
	.about .mini-box {
		height: 200px;
		display: flex;
    	justify-content: center;
    	flex-flow: wrap column;
    	align-items: center;
	}
}