@font-face {
    font-family: 'Dejavu';
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "Devanagari";
    src: url("../fonts/Adobe-Devanagari.eot");
    src: url("../fonts/Adobe-Devanagari.woff") format("woff"),
    	 url("../fonts/Adobe-Devanagari.ttf") format("ttf");
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Devanagari, Arial;
}
button a{
	font-family: Dejavu, Arial;
}
section{
	min-height: 100vh;
}
.top, .top .top-panel, .about,
.about .mini-boxes, .content-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-background{
	background-size: cover;
}
.top-background, .about-background{
    filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	background-image: url('../img/topBg.jpg');
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

/* Disable grayscale on hover */
.top-background.colored,
.about-background.colored{
	filter: none;
	-webkit-filter: grayscale(0);
	transition: all 0.5s ease;
}
.top{
    flex-direction: column;
}
.top .logo img{
	height: 50px;
}
.top .top-panel{
	margin-top: 10px;
	position: fixed;
    width: 100%;
    z-index: 100;
	background-color: rgba(255,255,255,0.6);
	align-items: center;
	padding: 10px 20px
}
.top .main-nav li{
	display: inline;
	margin-left: 20px; 
}
a{
	color: #F8BBD0;
	text-decoration: none;
	display: inline-block;
}
.top .main-nav a{
	text-transform: uppercase;
	font-weight: bold;
}
.top .box{
	width: 300px;
	min-height: 300px;
	background-color: #F8BBD0;
	position: absolute;
	right: 100px;
    bottom: 50px;
}
.top .arrow{
	color: #F8BBD0;
	text-align: center;
	font-size: 25px;
}
/* Arrow animation*/
@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow .fa {
  animation: bounce 2s ease infinite;
  font-size: 30px;
}

.macaroons{
	min-height: 840px;
	padding: 50px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/macaroonBg.jpg);
	background-size: cover;
}
.macaroons .fly{
	width: 960px;
	width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#macaroon1{
	right: 200px;
}
#macaroon2{
	right: 80px;
    top: 170px;
}
#macaroon3{
	width: 170px;
    right: 460px;
    top: 320px;
}
#macaroon4{
	width: 220px;
    top: 370px;
    right: 260px;
}
#macaroon5{
	width: 250px;
    top: 320px;
    right: 80px;
}
.macaroons img{
	width: 180px;
	transition: all 0.5s ease;
	position: absolute;
}
.macaroons .text{
	width: 250px;
	position: absolute;
    color: black;
    font-weight: bold;
    text-align: center;
}
.macaroons .text.first{
	top: 15vh;
    right: 50px;
}
.macaroons .text.second{
	top: 65vh;
    right: 50px;
}
.macaroons .text.third{
    top: 40vh;
    right: 550px;
}
.macaroons .text.fourth{
	top: 80vh;
	right: 850px;
}
.about-background{
	background-image: url(../img/aboutBg.jpg);
    padding: 40px 30px;
    background-position-x: -300px;
    background-repeat: no-repeat;
}
.about h2{
	font-family: Arial;
}
.btn{
    font-size: 25px;
	color: #F8BBD0;
	background-color: initial;
	border: 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
	background-color: rgba(0,0,0,0.4);
}
.btn a{
	padding: 5px 10px;
}
.about .content{
	width: 40%;
}
.about .content h2{
	color: white;
	margin-bottom: 50px;
}
.about .content-boxes{
	width: 60%;
    justify-content: flex-end;
}
.about .box{
	width: 100%;
    min-height: 200px;
    margin: 10px 0;
    background-color: rgba(248, 187, 208, 0.8);
    text-align: center;
    padding: 40px;
}
.about .mini-boxes{
	flex-wrap: wrap;
	text-align: center;
}
.about .mini-box{
	color: #F8BBD0;
	width: 30%;
	margin-bottom: 10px; 
	background-color: rgba(0,0,0,0.4);
	border: 1px solid #F8BBD0;
    padding: 30px;
}
.about .mini-box img{
	width: 84px;
    transform: scale(0.85);
    transition: all .3s ease-in-out;
}
.about .mini-box img:hover{
	width: 84px;
    transform: scale(1);

}

@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(248,187,208, 0);}}
.pulse-btn {
	box-shadow: 0 0 0 0 rgba(248,187,208, 1);
	animation: pulse 1.25s infinite;
	margin: 50px 0;
}
